.astro
_site
dist
node_modules
_includes
_layouts
_pages
_projects
_gallery
_videos
_sass
js
images
public/archive-assets
public/og.png
Gemfile.lock
package-lock.json
_config.yml
404.html
feed.xml
index.html
blog
gallery
projects
videos
